
body {
background: #FF5F6D; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, rgba(56,10,76,.5) , rgba(255,195,113,.5)); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  padding-top: 40px;
  color: #380a4c;
  font-size: 2.5em;
}

.container {
  text-align: center;
  margin: auto;
}

#apps {
  font-size: 120%;
  margin: auto;
}
li {
  list-style: none;
  float: left;
  padding: 20px;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
  
a {
  color: #380a4c
}
 ul {
  margin: auto;
  padding-top: 200px;
}
 
